a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

a.button {
  margin: 15px 0;
  display: block;
  text-transform: lowercase;
  background: #686868;
  width: 50px;
  text-align: center;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
}
